<nav class="navbar navbar-expand-lg mb-4" style="background: #be3c3c;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white;font-weight: 500;" (click)="redireccionar()">Pets App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: flex-end">
      <div style="width: 20%; display: flex; justify-content: space-evenly;">
        <button class="btn btn-dark" type="button" *ngIf="isLogged">
          <i class="fa-solid fa-house"></i> Home
        </button>

        <button class="btn btn-outline-light" type="button" *ngIf="isLogged">
          <i class="fa-solid fa-list"></i> Lista
        </button>

        <button class="btn btn-outline-light" type="button" *ngIf="isLogged">
          <i class="fa-solid fa-square-plus"></i> Nuevo
        </button>
      </div>

      <!-- Para cerrar sesion e iniciar sesion -->
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-primary" *ngIf="!isLogged" routerLink="/login" type="submit">
          <i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar Sesión
        </button>

        <button class="btn btn-secondary" *ngIf="isLogged" (click)="onLogOut()" type="reset">
          <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión
        </button>
      </form>
    </div>
  </div>
</nav>
