.text-container{
  margin-bottom: 100px;
  width: 500px;
  height: auto;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
  text-align:center;
  justify-content: center;
  text-align: center;
}
.contenedor{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-register {
  margin : 10px;
  padding: 10px 25px;
  border: unset;
  border-radius: 5px;
  color: white;
  z-index: 1;
  background: #BE3C3C;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 .button-register::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 2px;
  background-color: #d31313;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }

 .button-register:hover {
  color: #ebb3b3;
 }
.contenedor-register{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
