<div style="padding: 0 20px">
  <p style="text-align: center;font-size: xx-large">Registro de mascota</p>
  <div style="display: flex">
    <form [formGroup]="formGroup" class="form-group-register">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [formControl]="name" required>
        <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>
      </mat-form-field>

      <div style="display: flex; justify-content: space-between;">
        <mat-form-field appearance="fill" style="width: 45%;">
          <mat-label>Género</mat-label>
          <input matInput [formControl]="gender" required>
          <mat-error *ngIf="gender.invalid">{{getErrorMessage(gender)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 45%;">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="birthDate" (click)="picker.open()" readonly required>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="birthDate.invalid">{{getErrorMessage(birthDate)}}</mat-error>
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: space-between;">
        <mat-form-field appearance="fill" style="width: 45%;">
          <mat-label>Color</mat-label>
          <input matInput [formControl]="colour" required>
          <mat-error *ngIf="colour.invalid">{{getErrorMessage(colour)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 45%;">
          <mat-label>Tamaño</mat-label>
          <input matInput [formControl]="size" required>
          <mat-error *ngIf="size.invalid">{{getErrorMessage(size)}}</mat-error>
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: space-between;">
        <mat-form-field appearance="fill" style="width: 45%;">
          <mat-label>Especie</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of comboBreedxSpecie" ngDefaultControl [value]="food.species"
                        [formControl]="species" required>
              {{food.species}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="species.invalid">{{getErrorMessage(species)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 45%;">
          <mat-label>Raza</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of comboBreedxSpecie" ngDefaultControl [value]="food.breed"
                        [formControl]="breed" required>
              {{food.breed}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="breed.invalid">{{getErrorMessage(breed)}}</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Características</mat-label>
        <textarea matInput [formControl]="characteristic"
                  rows="5" style="resize: none" required></textarea>
        <mat-error *ngIf="characteristic.invalid">{{getErrorMessage(characteristic)}}</mat-error>
      </mat-form-field>


      <button mat-raised-button color="primary" (click)="registerPet()" [disabled]="formGroup.invalid">Registrar
      </button>
    </form>
    <div class="form-image">
      <img [src]="encoded.value" class="preview" alt="Foto de Preview">
      <button type="button" mat-raised-button (click)="fileInput.click()">Subir Foto</button>
      <input type="file" accept="image/*" hidden (change)="onFileSelected($event)" #fileInput/>
    </div>
  </div>

</div>
