<app-menu></app-menu>
<!--
<div class="container">

    <div class="jumbotron">
        <h1 *ngIf = "!username" class="display-4">Hello, world!</h1>
        <h1 *ngIf = "username" class="display-4">Hello, {{username}}!</h1>

        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="" role="button">Learn more</a>
      </div>

</div>
-->
<section class="home-index">
  <div class="in-flex">
    <div class="text-container">
      <p class="title">¿Adoptas?</p>
      <p>
        Adoptar un perro o un gato es un acto humano maravilloso. No solo
        ganarás un amig@ para siempre, además estarás salvando una vida.
      </p>
      <p>
        ¡Encuentra una mascota, deja que surja el flechazo y dale una segunda
        oportunidad en la vida! Esta vez estará contigo para siempre.
      </p>
      <button type="button" class="button-index">Únete</button>
      <p>
        ¿Ya tienes una cuenta?
        Inicia Sesión
      </p>
    </div>
  </div>
  <div class="in-flex">
    <img src="{{ ImagePath }}" alt="error" class="img" />
  </div>
</section>
